{% extends 'base.html' %}

{% block title %}
    Create Recipe - Scrumptious Recipes
{% endblock title %}


{% block content %}
    <header>
        <nav class="navbar">
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}