{% extends 'base.html' %}

{% block title %}
    {{recipe.title}} - Scrumptious Recipe
{% endblock title %}
    

{% block content %}
    <header>
        <nav class="navbar">
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <div class="vegetarian-tacos-1">
            <h1>{{ recipe.title }}</h1>
            <img src="{{ recipe.picture }}" class="image">
            <p>Written by: {{ recipe.author.username|default:"" }}</p>
            <br> 4.3 stars
            <h2>Ingredients</h2>
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
                <tr>
                    <td>10 Cups</td>
                    <td>Water</td>
                </tr>
                <tr>
                    <td>4 Pounds</td>
                    <td>Chuck Roast cut into chunks</td>
                </tr>
                <tr>
                    <td>2 Pounds</td>
                    <td>Short Ribs (bone in)</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Large White Onion</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Whole Garlic Bulb</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Carrot cut halfwise</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Dried Bayleaves</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Guajillo Chiles</td>
                </tr>
                <tr>
                    <td>3 tbsp</td>
                    <td>Chicken Boullion</td>
                </tr>
                <tr>
                    <td>1 tsp</td>
                    <td>Mexican Oregano</td>
                </tr>
                <tr>
                    <td>1 tsp</td>
                    <td>Ground Cumin</td>
                </tr>
                <tr>
                    <td>1 tsp</td>
                    <td>Salt</td>
                </tr>
            </table>
        <h2>Steps</h2>
        <div class="steps-container">
            <div></div>
                <div>
                    <ol>
                        {% for step in recipe.steps.all %}
                        <li>{{ step.instruction }}</li>
                        {% endfor %}
                </div>
            <div></div>
        </div>
    </div>
    </main>
{% endblock content %}