{% extends 'base.html' %}

{% block title %}
    Edit Recipe
{% endblock title %}


{% block content %}
    <header>
        <nav class="navbar">
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ recipe.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}