{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes 
{% endblock title %}

{% block content %}
<header>
    <nav class="navbar">
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url 'create_recipe' %}">Create a Recipe</a>

        {% if user.is_authenticated %}
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        <span class="username">Hello, {{ user.username }}</span>
        {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <div>
        <h1>Scrumptious Recipes</h1>
        <h2 class="slogan">All the food that's fit to eat</h2>
        <div class="grid-container">
            {% for recipe in recipes %}
            <div class="grid-item">
                <div>
                    <h3><a href="{% url 'show_recipe' recipe.id%}">{{ recipe.title }}</a></h3>
                    <img src="{{ recipe.picture }}" class="image">
                    <br>4.3 stars
                    <br>{{recipe.created_on|date:"D d M Y"}}
                </div>            
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}