@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto&display=swap');

body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
}

h1 {
    color: #025959;
    text-align: center;
}


h3 > a {
    color: #04D939;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #012340;
}

.navbar > a {
    color: white;
    font-weight: bold;
}

main {
    padding: 16px;
}

.slogan {
    text-align: center;
}

.vegetarian-tacos-1 {
    text-align: center;
    list-style-position: inside;
}

table {
    margin-left: auto;
    margin-right: auto;
}

ol {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    list-style-position: outside;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    text-align: center;
}

footer {
    padding:  24px 0 24px 0;
    background: #012340;
    color: white;
    font-weight: bold;
}

.image {
    width: 400px;
    height: 500px;
    border-radius: 200px;
}

a:hover {
    color: green;
}

a {
    color: blue;
    text-decoration: none;
}

table {
    width: 25%;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer-text {
    text-align: right;
    padding-right: 20px;
}

.first-word {
    font-weight: bold;
    font-size: 1.2em;
    color: #012340;
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;  
}

.vegetarian-tacos-grid > img:hover {
    opacity: 0.4;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.grid-container:hover .middle {
    opacity: 1;
}

.username {
    color: white;
}

@media screen and (max-width: 1646px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
}

@media screen and (max-width: 1236px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
}