{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    {% block content %}
    {% endblock content %}
    <footer>
        <p class="footer-text">Made with love by Scrumptious Recipes</p>
    </footer>
</body>
</html>